body {
  box-sizing: border-box;
}

#header {
  color: white;
  text-align: center;
  background-color: rgb(172, 0, 0);
  font-size: 300%;
  width: 100%;
  padding: 10px;
}
h2 {
  text-align: right;
}
a.textLink {
  color: white;
  text-decoration: none;
}
a.textLink:hover,
a.textLink:active {
  text-decoration: underline;
  background-color: red;
}
div.scrollbar {
  color: white;
  text-align: center;
  font-size: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  background-color: rgb(172, 0, 0);
}
/* iframe.toolbottom {
  border-top: 2px solid rgb(172, 0, 0);
  border: 2px solid white;
} */
div.pagebuttons {
  color: red;
}
a.first:link,
a.first:visited {
  background-color: rgb(146, 0, 0);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.first:hover,
a.first:active {
  background-color: red;
}
a.second:link,
a.second:visited {
  background-color: rgb(146, 0, 0);
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.second:hover,
a.second:active {
  background-color: red;

  color: white;
  text-align: center;
  background-color: rgb(172, 0, 0);
  font-size: 100%;
  width: 100%;
  padding: 10px;
}
div.scrollbar {
  color: white;
  text-align: center;
  font-size: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  background-color: rgb(172, 0, 0);
}
/* iframe.toolbottom {
    border-top: 2px solid rgb(172, 0, 0);
    border: 2px solid white;
  } */
div.pagebuttons {
  color: red;
}
a.first:link,
a.first:visited {
  background-color: rgb(146, 0, 0);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  width: 10%;
}
a.first:hover,
a.first:active {
  background-color: red;
}
a.second:link,
a.second:visited {
  background-color: rgb(146, 0, 0);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10%;
}
a.second:hover,
a.second:active {
  background-color: red;
}
#title {
  background-color: rgb(146, 0, 0);
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 200%;
  width: 100%;
}
div.info {
  float: right;
  font-size: 20px;
  text-align: justify;
  size: 20%;
  padding: 10px solid red;
  width: 40%;
}
div.pic {
  opacity: 1;
}
div.sketches {
  float: left;
  overflow: visible;
  background-color: white;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*all the drop downs when images are clicked on portfolio page*/
div.dropdown-one {
  position: relative;
  display: inline-block;
}

div.dropdown-content-one {
  text-align: center;
  display: none;
  position: absolute;
  background-color: rgb(146, 0, 0);
  color: white;
  min-width: 60px;
  box-shadow: px 8px 16px 0px rgb(0, 0, 0);
  padding: 5px;
}

div.dropdown-one:hover div.dropdown-content-one {
  display: block;
}
div.dropdown-content-one:active,
div.dropdown-content-one:hover {
  background-color: blue;
}

div.dropdown-two {
  position: relative;
  display: inline-block;
}

div.dropdown-content-two {
  text-align: center;
  display: none;
  position: absolute;
  background-color: rgb(146, 0, 0);
  color: white;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
div.dropdown-content-two:active,
div.dropdown-content-two:hover {
  background-color: rgb(255, 178, 35);
}

div.dropdown-two:hover div.dropdown-content-two {
  display: block;
}

div.dropdown-three {
  position: relative;
  display: inline-block;
}

div.dropdown-content-three {
  text-align: center;
  display: none;
  position: absolute;
  background-color: rgb(146, 0, 0);
  color: white;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
div.dropdown-content-three:active,
div.dropdown-content-three:hover {
  background-color: rgb(19, 136, 19);
}

div.dropdown-three:hover div.dropdown-content-three {
  display: block;
}
div.dropdown-four {
  position: relative;
  display: inline-block;
}

div.dropdown-content-four {
  text-align: center;
  display: none;
  position: absolute;
  background-color: blue;
  color: white;
  min-width: 60px;
  box-shadow: px 8px 16px 0px rgb(0, 0, 0);
  padding: 5px;
}

div.dropdown-four:hover div.dropdown-content-four {
  display: block;
}
div.dropdown-content-four:active,
div.dropdown-content-four:hover {
  background-color: blue;
}
div.pharagraph {
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgb(146, 0, 0);
  border: 10px solid rgb(102, 0, 0);
}
div.projectonePhara {
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgb(146, 0, 0);
  border: 10px solid rgb(102, 0, 0);
}
